button.header-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(to right, #4d4d4d 0%, white 10%, #4d4d4d 20%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
